/*-------------------------------------------------------
Этот файл стилей собирается из нескольких LESS файлов, которые находятся в папке \resources\assets\less\AgroDonbass\
Его не нужно изменять, т.к. он будет перезаписан и изменения будут потеряны.
Сборка идёт через Elixir. См. http://laravel.su/docs/5.0/elixir
Настройки сборки находятся в файле \resources\assets\less\AgroDonbass\agrodonbass

Как установить себе Laravel Elixir:
a) Устанавливаем node.js https://nodejs.org/en/
b) Запускаем командную строку (cmd) в режиме администратора
c) Переходим в папку с нашим проектом (cd путь к папке)
d) Запускаем по очереди команды:
    npm install --global gulp
    npm install --save-dev gulp
    npm install
e) После установки сборка идет командой:
    gulp
--------------------------------------------------------*/
/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "AgoraSansProRegular"; */
@font-face {
  font-family: "AgoraSansProRegular";
  src: url("../fonts/AgoraSansProRegular/AgoraSansProRegular.eot");
  src: url("../fonts/AgoraSansProRegular/AgoraSansProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProRegular/AgoraSansProRegular.woff") format("woff"), url("../fonts/AgoraSansProRegular/AgoraSansProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProBold"; */
@font-face {
  font-family: "AgoraSansProBold";
  src: url("../fonts/AgoraSansProBold/AgoraSansProBold.eot");
  src: url("../fonts/AgoraSansProBold/AgoraSansProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProBold/AgoraSansProBold.woff") format("woff"), url("../fonts/AgoraSansProBold/AgoraSansProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProItalic"; */
@font-face {
  font-family: "AgoraSansProItalic";
  src: url("../fonts/AgoraSansProItalic/AgoraSansProItalic.eot");
  src: url("../fonts/AgoraSansProItalic/AgoraSansProItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProItalic/AgoraSansProItalic.woff") format("woff"), url("../fonts/AgoraSansProItalic/AgoraSansProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProLight"; */
@font-face {
  font-family: "AgoraSansProLight";
  src: url("../fonts/AgoraSansProLight/AgoraSansProLight.eot");
  src: url("../fonts/AgoraSansProLight/AgoraSansProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProLight/AgoraSansProLight.woff") format("woff"), url("../fonts/AgoraSansProLight/AgoraSansProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProMedium"; */
@font-face {
  font-family: "AgoraSansProMedium";
  src: url("../fonts/AgoraSansProMedium/AgoraSansProMedium.eot");
  src: url("../fonts/AgoraSansProMedium/AgoraSansProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProMedium/AgoraSansProMedium.woff") format("woff"), url("../fonts/AgoraSansProMedium/AgoraSansProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProBlack"; */
@font-face {
  font-family: "AgoraSansProBlack";
  src: url("../fonts/AgoraSansProBlack/AgoraSansProBlack.eot");
  src: url("../fonts/AgoraSansProBlack/AgoraSansProBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProBlack/AgoraSansProBlack.woff") format("woff"), url("../fonts/AgoraSansProBlack/AgoraSansProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProThin"; */
@font-face {
  font-family: "AgoraSansProThin";
  src: url("../fonts/AgoraSansProThin/AgoraSansProThin.eot");
  src: url("../fonts/AgoraSansProThin/AgoraSansProThin.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProThin/AgoraSansProThin.woff") format("woff"), url("../fonts/AgoraSansProThin/AgoraSansProThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProUltraBlack"; */
@font-face {
  font-family: "AgoraSansProUltraBlack";
  src: url("../fonts/AgoraSansProUltraBlack/AgoraSansProUltraBlack.eot");
  src: url("../fonts/AgoraSansProUltraBlack/AgoraSansProUltraBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProUltraBlack/AgoraSansProUltraBlack.woff") format("woff"), url("../fonts/AgoraSansProUltraBlack/AgoraSansProUltraBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProXThin"; */
@font-face {
  font-family: "AgoraSansProXThin";
  src: url("../fonts/AgoraSansProXThin/AgoraSansProXThin.eot");
  src: url("../fonts/AgoraSansProXThin/AgoraSansProXThin.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProXThin/AgoraSansProXThin.woff") format("woff"), url("../fonts/AgoraSansProXThin/AgoraSansProXThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProMediumItalic"; */
@font-face {
  font-family: "AgoraSansProMediumItalic";
  src: url("../fonts/AgoraSansProMediumItalic/AgoraSansProMediumItalic.eot");
  src: url("../fonts/AgoraSansProMediumItalic/AgoraSansProMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProMediumItalic/AgoraSansProMediumItalic.woff") format("woff"), url("../fonts/AgoraSansProMediumItalic/AgoraSansProMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProLightItalic"; */
@font-face {
  font-family: "AgoraSansProLightItalic";
  src: url("../fonts/AgoraSansProLightItalic/AgoraSansProLightItalic.eot");
  src: url("../fonts/AgoraSansProLightItalic/AgoraSansProLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProLightItalic/AgoraSansProLightItalic.woff") format("woff"), url("../fonts/AgoraSansProLightItalic/AgoraSansProLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProBoldItalic"; */
@font-face {
  font-family: "AgoraSansProBoldItalic";
  src: url("../fonts/AgoraSansProBoldItalic/AgoraSansProBoldItalic.eot");
  src: url("../fonts/AgoraSansProBoldItalic/AgoraSansProBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProBoldItalic/AgoraSansProBoldItalic.woff") format("woff"), url("../fonts/AgoraSansProBoldItalic/AgoraSansProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProBlackItalic"; */
@font-face {
  font-family: "AgoraSansProBlackItalic";
  src: url("../fonts/AgoraSansProBlackItalic/AgoraSansProBlackItalic.eot");
  src: url("../fonts/AgoraSansProBlackItalic/AgoraSansProBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProBlackItalic/AgoraSansProBlackItalic.woff") format("woff"), url("../fonts/AgoraSansProBlackItalic/AgoraSansProBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProUltraBlackItalic"; */
@font-face {
  font-family: "AgoraSansProUltraBlackItalic";
  src: url("../fonts/AgoraSansProUltraBlackItalic/AgoraSansProUltraBlackItalic.eot");
  src: url("../fonts/AgoraSansProUltraBlackItalic/AgoraSansProUltraBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProUltraBlackItalic/AgoraSansProUltraBlackItalic.woff") format("woff"), url("../fonts/AgoraSansProUltraBlackItalic/AgoraSansProUltraBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProXThinItalic"; */
@font-face {
  font-family: "AgoraSansProXThinItalic";
  src: url("../fonts/AgoraSansProXThinItalic/AgoraSansProXThinItalic.eot");
  src: url("../fonts/AgoraSansProXThinItalic/AgoraSansProXThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProXThinItalic/AgoraSansProXThinItalic.woff") format("woff"), url("../fonts/AgoraSansProXThinItalic/AgoraSansProXThinItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AgoraSansProThinItalic"; */
@font-face {
  font-family: "AgoraSansProThinItalic";
  src: url("../fonts/AgoraSansProThinItalic/AgoraSansProThinItalic.eot");
  src: url("../fonts/AgoraSansProThinItalic/AgoraSansProThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProThinItalic/AgoraSansProThinItalic.woff") format("woff"), url("../fonts/AgoraSansProThinItalic/AgoraSansProThinItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: 'RobotoRegular', sans-serif;
}
h5 {
  font-weight: bolder;
}
h4 {
  line-height: 40px;
}
p:empty {
  display: none !important;
}
table {
  cursor: pointer;
}
/*------------------------------------------------------*/
.yellow-text {
  color: #ffc100;
}
.gray-text {
  color: #bbbbbb;
}
.margin-top-10px {
  margin-top: 10px;
}
.margin-bottom-10px {
  margin-bottom: 10px;
}
.margin-top-20px {
  margin-top: 20px;
}
.margin-top-50px {
  margin-top: 50px;
}
.block-wrapper-main input[type="file"] {
  width: 100%;
  margin-top: 20px;
}
.block-wrapper-main select[multiple] {
  width: 100%;
}
.block-wrapper-main-news {
  background: #FAFAFA;
  margin-top: 50px;
}
.block-wrapper-header {
  background-color: #fafafa;
}
.edit_title_img_news .jcrop-holder,
.edit_title_img_news img {
  margin-bottom: 20px;
}
.edit_title_img_news input[type="file"] {
  width: 100%;
}
.block-wrapper-services-info,
.block-wrapper-vacancies-info,
.block-wrapper-trading-info {
  background-color: #fafafa;
  padding-top: 3em;
  padding-bottom: 2em;
}
.block-wrapper-title {
  background-color: #FFFFFF;
  /*table{
	display: block;
	width: 50%;
	position: relative;
    align-content: center;
	margin: 0 auto;
	padding:  0;

	td{
	  vertical-align: middle;
	}
	td>img{
	  height: 80px;
      width:auto;
	}
	td>h1{
	  color:@base_yellow_color;
	  text-align: center;
	  padding-left: 1.2em;

	}
  }*/
}
.block-wrapper-title .block-title {
  display: block;
  width: 50%;
  float: none;
  margin: 0 auto;
}
.block-wrapper-title .block-title label,
.block-wrapper-title .block-title input {
  diaplay: block;
  float: left;
}
.block-wrapper-title .block-title label {
  line-height: 35px;
}
.block-wrapper-title .block-title img {
  height: 80px;
  width: auto;
  display: inline;
  margin-right: 30px;
}
.block-wrapper-title .block-title h1 {
  color: #ffc100;
  text-align: center;
  display: inline-block;
  width: 100%;
  line-height: 50px;
}
.block-tinymce-container {
  border: none !important;
  margin: 0 !important;
  padding: 0 20px !important;
  width: 100% !important;
}
.block-wrapper-title-for-plants .block-title h1 {
  color: #ffc100;
  text-align: center;
  display: inline-block;
  width: 100%;
  line-height: 50px;
}
.block-wrapper-services-contacts,
.block-wrapper-vacancies-contacts,
.block-wrapper-trading-contacts {
  font-size: 16px;
}
.block-wrapper-services-contacts i.fa.fa-phone.ad-contacts-phone_icon,
.block-wrapper-vacancies-contacts i.fa.fa-phone.ad-contacts-phone_icon,
.block-wrapper-trading-contacts i.fa.fa-phone.ad-contacts-phone_icon {
  color: #fff;
  background: #ffc100;
  border-radius: 50%;
  height: 36px!important;
  width: 36px!important;
  padding: 11px 12px;
}
.block-wrapper-services-contacts i.fa.fa-envelope.ad-contacts-phone_icon,
.block-wrapper-vacancies-contacts i.fa.fa-envelope.ad-contacts-phone_icon,
.block-wrapper-trading-contacts i.fa.fa-envelope.ad-contacts-phone_icon {
  color: #fff;
  background: #ffc100;
  border-radius: 50%;
  width: 36px!important;
  height: 36px!important;
  padding: 10px 10px;
}
.block-wrapper-services-contacts td:last-child,
.block-wrapper-vacancies-contacts td:last-child,
.block-wrapper-trading-contacts td:last-child {
  padding-left: 15px;
}
.block-wrapper {
  padding-top: 2em;
  padding-bottom: 2em;
}
.mce-container {
  margin: 50px 0;
}
.block-wrapper-services-price,
.block-wrapper-vacancies-list,
.block-wrapper-trading- {
  background-color: #fafafa;
}
.block-wrapper-services-price h3,
.block-wrapper-vacancies-list h3,
.block-wrapper-trading- h3 {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em;
}
.ad__button {
  padding: 10px 40px 10px 40px;
  background-color: #FFFFFF;
  border: 1px solid #ffc100;
  border-radius: 1px;
  color: #323433;
  font-size: 18px;
  float: left;
  text-decoration: none;
  margin-bottom: 20px;
  margin-left: 20px;
}
.ad__button_2 {
  padding: 10px 40px 10px 40px;
  background-color: #FFFFFF;
  border: 1px solid #ffc100;
  display: inline-block;
  border-radius: 1px;
  color: #323433;
  font-size: 18px;
  float: left;
  text-decoration: none;
  margin: 0 0 20px 20px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  width: auto;
}
@media screen and (max-width: 740px) {
  .ad__button_2 {
    padding: 10px 40px 10px 40px;
    background-color: #FFFFFF;
    border: 1px solid #ffc100;
    display: block;
    border-radius: 1px;
    color: #323433;
    font-size: 18px;
    float: none;
    text-decoration: none;
    margin: 0 0 20px 0;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    width: 100%;
  }
  .ad__button_2:last-child {
    margin-top: 30px;
  }
}
.ad__button_2-2-strings {
  line-height: 50px;
}
.ad__button_2:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #ffc100;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.ad-edit-form {
  margin: 50px 0;
  width: 100%;
}
.btn-block {
  width: auto;
}
.add-buttons-description {
  font-size: 12px;
  margin-top: 20px;
}
.ad-buttons-edit td + td + td {
  text-align: center;
}
.container-for-save-edited-text {
  margin: 20px 15px 5px 15px;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.container-for-save-edited-text button {
  margin: 0;
}
#feedback-modal iframe {
  min-height: 490px;
}
#feedback-modal .modal-header {
  border: none;
}
.hide-meta-tags-edit {
  display: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ffc100;
  border-color: #ffc100;
}
#add_news .col-md-12,
#add_news .box-footer,
#add_news .col-md-4 {
  margin: 0;
  padding: 0;
}
.form_add_news .block-wrapper-title {
  margin-bottom: 50px;
}
.mce-panel {
  width: 100%;
}
.padding-right_0 {
  padding-right: 0;
}
/*------------------------------------------------------*/
/*------------------------------------------------------*/
.ad__footer-contacts {
  padding: 2.2em;
  background-color: #323433;
  color: #ffffff;
}
.ad__footer-contacts a,
.ad__footer-contacts a:hover,
.ad__footer-contacts a:visited {
  color: #FFFFFF;
}
.ad__footer-contacts #icon-foot i {
  background: #FFFFFF;
  color: #323433;
  padding: 10px;
  margin-right: 8px;
  height: 50px;
  text-align: center;
  width: 50px;
  vertical-align: middle;
  -webkit-box-pack: center;
  justify-content: center;
}
.ad__footer-contacts #init_map {
  cursor: pointer;
}
@media screen and (max-width: 1048px) {
  .ad__footer-contacts #icon-foot i {
    background: #FFFFFF;
    color: #323433;
    padding: 8px;
    margin-right: 6px;
    height: 50px;
    text-align: center;
    width: 50px;
    vertical-align: middle;
    -webkit-box-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 990px) {
  .ad__footer-contacts #icon-foot i {
    background: #FFFFFF;
    color: #323433;
    padding: 10px;
    margin-right: 8px;
    height: 50px;
    text-align: center;
    width: 50px;
    vertical-align: middle;
    -webkit-box-pack: center;
    justify-content: center;
  }
}
.ad__footer-contacts i.fa-angle-right {
  color: #ffc100;
  font-size: 25px;
  font-weight: 700;
}
.ad__footer-contacts-social_links a,
.ad__footer-contacts-social_links a:visited,
.ad__footer-contacts-social_links a:hover {
  text-decoration: none;
}
.ad__footer-contacts-list-of-services {
  text-transform: uppercase;
  line-height: 2em;
  font-size: 20px;
}
.ad__footer-contacts-adr {
  margin-left: 0;
}
.ad__footer-contacts-adr i {
  color: #ffc100;
}
.ad__footer-contacts-list {
  margin-left: 0;
}
.ad__footer-contacts-social_links {
  margin-left: 0;
}
@media screen and (min-width: 1000px) {
  .ad__footer-contacts-adr i {
    padding-left: 80%;
  }
}
@media screen and (max-width: 999.5px) {
  .ad__footer-contacts-adr i {
    padding-left: 73%;
  }
}
@media screen and (max-width: 990px) {
  .ad__footer-contacts-list {
    margin-left: 0;
    margin-top: 10px;
  }
  .ad__footer-contacts-social_links {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media screen and (max-width: 840px) {
  .ad__footer-contacts-adr i {
    padding-left: 75%;
  }
  .ad__footer-contacts-adr {
    margin-left: 0;
  }
  .ad__footer-contacts-adr-title {
    padding-left: 0;
  }
  .ad__footer-contacts-list-of-services {
    padding-left: 0;
  }
  .ad__footer-contacts-social_links {
    margin-left: 0;
  }
  .ad__footer-contacts-list {
    margin-left: 0;
  }
}
@media screen and (max-width: 767.5px) {
  .ad__footer-contacts-adr i {
    padding-left: 0;
  }
  .ad__footer-contacts-adr {
    margin-left: 30%;
  }
  .ad__footer-contacts-adr-title {
    padding-left: 15px;
  }
  .ad__footer-contacts-list {
    margin-left: 30%;
  }
  .ad__footer-contacts-list-of-services {
    padding-left: 15px;
  }
  .ad__footer-contacts-social_links {
    margin-left: 33%;
  }
  .ad__footer-contacts-adr p {
    padding-left: 0;
  }
}
@media screen and (max-width: 599.5px) {
  .ad__footer-contacts-adr {
    margin-left: 0;
  }
  .ad__footer-contacts-adr-title {
    padding-left: 15px;
  }
  .ad__footer-contacts-list-of-services {
    padding-left: 15px;
  }
  .ad__footer-contacts-social_links {
    margin-left: 25%;
  }
  .ad__footer-contacts-list {
    margin-left: 0;
  }
  .ad__footer-contacts-adr p {
    padding-left: 15px;
  }
}
.ad-footer-login {
  position: absolute;
  top: 0px;
  right: 0px;
}
.ad-footer-login a a:hover {
  text-decoration: none;
}
@media screen and (max-width: 520px) {
  .ad__footer-contacts-adr {
    padding-top: 40px;
  }
  .ad__footer-contacts-social_links {
    margin-left: 0;
    padding-left: 15px;
  }
}
/*------------------------------------------------------*/
.block-header-logo {
  width: auto;
  display: block;
  float: left;
  height: 110px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  vertical-align: middle;
  min-width: 250px;
}
.block-header-logo a {
  display: inline;
  text-decoration: none;
  color: #323433;
  font-size: 18px;
  vertical-align: middle;
  margin-left: 15px;
}
.block-header-logo img {
  width: auto;
  height: 80px;
  max-width: 300px;
}
.block-header-logo-desktop {
  display: inline;
}
.block-header-logo-mobile {
  display: none;
}
@media screen and (max-width: 991.5px) {
  #left_side-of-header_menu {
    width: 25%;
    display: block;
    float: left;
    min-width: 250px;
  }
  #right_side-of-header_menu {
    display: block;
    float: left;
    width: 65%;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  #left_side-of-header_menu {
    width: auto;
    display: inherit;
    float: none;
    min-width: 250px;
  }
  .block-header-logo {
    width: auto;
    display: inherit;
    float: none;
    height: 110px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    vertical-align: middle;
    min-width: 250px;
  }
}
@media screen and (max-width: 500px) {
  .block-header-logo-desktop {
    display: none;
  }
  .block-header-logo-mobile {
    display: inline;
  }
}
/*------------------------------------------------------*/
.ad__header-menu {
  display: block;
  padding: 0;
  margin: 0;
}
.ad__header-menu .navbar {
  margin-bottom: 0;
}
.ad__header-menu a {
  white-space: nowrap;
}
@media screen and (min-width: 1200px) {
  .ad__header-menu {
    padding-left: 3.2em;
  }
}
@media screen and (max-width: 1199.5px) {
  .ad__header-menu {
    padding-left: 30px;
  }
}
.ad__header-menu nav {
  background: none;
  border: none;
}
/*nav{
  margin-top: -9px;
}
*/
ul.nav > li {
  height: 110px;
  line-height: 110px;
  width: 160px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 500 !important;
  font-size: 20px !important;
  font-family: 'RobotoRegular', sans-serif !important;
}
@media screen and (max-width: 1200px) {
  .ad__header-menu nav {
    background: none;
    border: none;
  }
  ul.nav > li {
    height: 110px;
    width: 140px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 500 !important;
    font-size: 20px !important;
    font-family: 'RobotoRegular', sans-serif !important;
  }
}
@media screen and (max-width: 991.5px) {
  .ad__header-menu {
    padding-left: 0;
  }
  .navbar-nav {
    display: inline-block;
    float: none;
    padding-left: 10px;
  }
  .ad__header-menu nav {
    background: none;
    border: none;
  }
  ul.nav > li {
    height: 110px;
    width: 115px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 500 !important;
    font-size: 20px !important;
    font-family: 'RobotoRegular', sans-serif !important;
  }
}
@media screen and (max-width: 840px) {
  .navbar-nav {
    display: inline-block;
    float: none;
    padding-left: 10px;
  }
  .ad__header-menu nav {
    background: none;
    border: none;
  }
  ul.nav > li {
    height: 110px;
    width: 115px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 500 !important;
    font-size: 20px !important;
    font-family: 'RobotoRegular', sans-serif !important;
  }
}
@media screen and (max-width: 839px) {
  .navbar-nav {
    display: inline-block;
    float: none;
    padding-left: 10px;
  }
  .ad__header-menu nav {
    background: none;
    border: none;
  }
  ul.nav > li {
    height: 110px;
    width: 110px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 500 !important;
    font-size: 20px !important;
    font-family: 'RobotoRegular', sans-serif !important;
  }
}
ul.nav > li:hover {
  background-color: #eae9e7;
}
.navbar-default .navbar-nav > li > a {
  color: #323433;
}
nav .dropdown-menu {
  /*цвет фона dropdown меню*/
  background-color: #ffc100;
  min-width: 186px;
  padding: 1px 0;
}
nav .dropdown-menu :last-child {
  /*цвет текста пункта меню*/
  border-bottom: 0px;
}
nav .dropdown-menu > li {
  /*цвет текста пункта меню*/
  border-bottom: 1px dotted lightgrey;
}
nav .dropdown-menu > li > a {
  /*цвет текста пункта меню*/
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  line-height: 1.8em;
}
nav .dropdown-menu > li > a:hover,
nav .dropdown-menu > li > a:focus {
  /*цвет текста пункта меню при поднесении к нему курсора*/
  color: #ffffff;
  /*цвет фона пункта меню при поднесении к нему курсора*/
  background-color: #eacc36;
}
nav .dropdown-menu .divider {
  /*цвет разделителя*/
  background-color: transparent;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  font-size: 18px;
}
@media screen and (max-width: 991.5px) {
  .navbar-collapse {
    width: 100%;
    border-top: 0;
    box-shadow: none;
  }
}
@media screen and (max-width: 820px) {
  nav .dropdown-menu {
    /*цвет фона dropdown меню*/
    background-color: #ffc100;
    min-width: 150px;
    padding: 1px 0;
  }
}
/*------------------------------------------------------*/
.carousel-indicators li {
  display: inline-block;
  width: 20%;
  margin-left: 15px;
  margin-right: 15px;
  height: 4px;
  margin: 0;
  text-indent: -999px;
  cursor: pointer;
  background-color: #ffffff;
  border: 0px solid #ffffff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 20%;
  height: 4px;
  margin: 0;
  background-color: #ffc100;
}
.carousel-control.right,
.carousel-control.left {
  background-image: none;
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .glyphicon-chevron-left {
  display: none;
}
.carousel-caption {
  position: absolute;
  right: 20px;
  top: 20px;
  bottom: drh;
  left: th;
  z-index: 10;
  padding-top: gtrfh;
  padding-bottom: tgfh;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}
/*------------------------------------------------------*/
.block-home-offers a:hover,
.block-home-offers a:visited,
.block-home-offers a {
  color: #323433;
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  font-family: 'RobotoMedium', sans-serif !important;
}
.block-home-offer {
  width: 24%;
  display: inline-block;
  padding: 5px;
  margin: 0 4%;
  overflow: inherit;
}
.block-home-offers__element {
  min-width: 300px;
  max-width: 400px;
  border: 1px solid #bbbbbb;
  margin-top: 20px;
  display: inline-block;
}
.block-home-offers__image img {
  max-height: 300px;
}
.block-home-offers__image-title {
  border-top: 1px solid #bbbbbb;
}
.block-home-offers__image-title h3 {
  margin: 25px 0;
}
@media screen and (min-width: 1200px) {
  .block-home-offers a:hover,
  .block-home-offers a:visited,
  .block-home-offers a {
    color: #323433;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    font-family: 'RobotoMedium', sans-serif !important;
  }
  .block-home-offer {
    width: 24%;
    display: inline-block;
    padding: 5px;
    margin: 0 4%;
    overflow: inherit;
  }
  .block-home-offers__element {
    min-width: 300px;
    max-width: 400px;
    border: 1px solid #bbbbbb;
    margin-top: 20px;
    display: inline-block;
  }
  .block-home-offers__image img {
    max-height: 300px;
  }
  .block-home-offers__image-title {
    border-top: 1px solid #bbbbbb;
  }
  .block-home-offers__image-title h3 {
    margin: 25px 0;
  }
}
@media screen and (max-width: 1199.5px) {
  .block-home-offers a:hover,
  .block-home-offers a:visited,
  .block-home-offers a {
    color: #323433;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    font-family: 'RobotoMedium', sans-serif !important;
  }
  .block-home-offer {
    width: 31%;
    display: inline-block;
    padding: 0;
    margin: 0 1%;
    overflow: inherit;
  }
  .block-home-offers__element {
    min-width: 100%;
    max-width: 400px;
    border: 1px solid #bbbbbb;
    margin-top: 20px;
    display: inline-block;
  }
  .block-home-offers__image img {
    max-height: 300px;
  }
  .block-home-offers__image-title {
    border-top: 1px solid #bbbbbb;
  }
  .block-home-offers__image-title h3 {
    margin: 25px 0;
  }
}
@media (max-width: 980px) {
  .block-home-offer {
    width: auto;
    display: inline-block;
    padding: 5px;
  }
}
/*------------------------------------------------------*/
.block-home-offers-edit img {
  width: 100%;
  height: auto;
}
.block-home-offers-edit h3 {
  text-align: left;
  margin: 50px 0 15px 0;
  font-size: 14px;
}
.block-home-offers-edit input[type="file"] {
  margin: 10px auto;
  width: 125px;
}
.block-home-offers-edit button {
  margin-top: 10px;
}
/*------------------------------------------------------*/
.block-home-slider-edit img {
  width: 100%;
  height: auto;
}
.block-home-slider-edit h3 {
  text-align: left;
  margin: 50px 0 15px 0;
  font-size: 14px;
}
.block-home-slider-edit input[type="file"] {
  margin: 10px auto;
  width: 125px;
}
.block-home-slider-edit button {
  margin-top: 10px;
}
/*------------------------------------------------------*/
.block-meta-edit {
  width: 100%;
  padding: 20px 0;
  margin-top: 120px;
  font-size: 12px;
}
.block-meta-edit textarea {
  width: 100%;
  height: 72px;
}
/*------------------------------------------------------*/
.ad-home-news {
  margin-bottom: 50px;
}
.ad-home-news a:hover {
  color: #323433;
  text-decoration: none;
}
.ad-home-news a:focus {
  color: #323433;
  text-decoration: none;
}
.ad-news-link,
.btn-primary {
  padding: 10px 25px;
  background-color: #ffc100;
  color: #323433;
  font-size: 18px;
  float: right;
  text-decoration: none;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 0;
  border-color: #ffc100;
}
.ad-news-link:hover,
.btn-primary:hover {
  background-color: #ffc100;
  border-color: #ffc100;
  color: #FFFFFF;
}
/*
.btn-primary:last-child{
  margin-right: 20px;
}
*/
.last-new,
.last-news {
  margin: 7px;
}
.last-new {
  border: 1px solid #dddddd;
}
.ad-news-border-left {
  border-left: 2px solid #dddddd;
  margin-bottom: 20px;
}
.ad-home-new-img,
.ad-home-new-text {
  height: 50%;
}
.ad-home-new-img {
  overflow: hidden;
}
.ad-home-new-text {
  padding: 20px;
  overflow: hidden;
  text-overflow: clip;
}
.ad-home-new-text a {
  color: #2f2f2f;
}
.ad-home-new-text h3 {
  color: #2f2f2f;
}
.ad-home-new-img img {
  height: 50%;
  width: 100%;
  height: auto;
}
.last-news img {
  height: 30%;
}
.ad-last-news-content {
  bottom: 0;
  height: 470px;
  padding: 10px;
}
.ad-last-news-content-row {
  width: 90%;
  padding-bottom: 10px;
  padding-top: 10px;
}
.ad-last-news-content-img {
  width: 35%;
  height: auto;
  max-height: 200px;
  float: left;
  overflow: hidden;
}
.ad-last-news-content-img img {
  width: 100%;
  height: auto;
}
.ad-last-news-content-text {
  width: 60%;
  height: auto;
  float: right;
  overflow: hidden;
  text-overflow: clip;
}
.ad-last-news-content-text a {
  color: #2f2f2f;
}
.ad-last-news-content-text h5 {
  color: #2f2f2f;
}
.ad-last-news-content-p {
  font-size: 13px;
}
@media (max-width: 1000px) {
  .ad-news-border-left {
    border-left: 0;
  }
  .ad-last-news-content-img img {
    width: 100%;
    height: 80px;
  }
}
@media (max-width: 780px) {
  .ad-news-border-left {
    border-left: 0;
  }
  .ad-last-news-content-img img {
    width: 100%;
    height: 100%;
  }
}
button#edit_meta {
  padding: 10px 12px;
  padding-left: 15px;
  margin-left: 0;
  margin-right: 15px;
}
/*------------------------------------------------------*/
.ad__home-slider-caption {
  position: absolute;
  top: 20%;
  right: 15%;
  display: none;
}
.active .ad__home-slider-caption {
  display: block;
}
.ad__home-slider-caption h1 {
  font-size: 51px;
  color: #fff;
  font-weight: lighter;
}
.ad__home-slider-caption h3 {
  font-size: 28px;
  color: #fff;
  letter-spacing: 5px;
  font-weight: normal;
}
.carousel-indicators {
  position: absolute;
  bottom: 20px;
}
.ad-home-visual {
  height: auto;
  position: relative;
}
.ad-home-visual img {
  width: 100%;
}
@media (max-width: 767px) {
  .ad__home-slider-caption,
  .carousel-indicators,
  .ad__header-menu {
    display: none;
  }
  .ad-home-visual {
    height: 70px;
  }
}
@media (max-width: 500px) {
  .ad-home-visual {
    display: none;
  }
}
/*Слайдеры предложения*/
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}
.item,
.active.left,
.active.right {
  opacity: 0.5;
}
.active,
.next.left,
.prev.right {
  opacity: 1;
}
.next,
.prev,
.active.left,
.active.right {
  left: 0;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/**/
/*------------------------------------------------------*/
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border: none;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  color: #000;
  background-color: #fff;
  border: 1px solid #ffc100;
}
/*------------------------------------------------------*/
.ad-contacts-block {
  padding: 30px;
}
.ad-contacts-block .fa {
  font-size: 24px;
}
.ad-contacts-block h4 {
  margin-bottom: 15px;
}
.ad-contacts-block td {
  padding: 10px;
}
#edit_contact .delete_office {
  margin-right: 40px;
}
.ad-contacts-marker {
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 10px 15px;
  margin-right: 7px;
}
.ad-contacts-day_marker {
  font-weight: bold;
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 10px;
}
.ad-contacts-day_marker + .ad-contacts-day_marker {
  position: relative;
  top: 10px;
  left: -10px;
}
.gray-bg {
  background: #fbf9fa;
}
.ad-contacts-phone_icon {
  color: #fff;
  background: #ffc100;
  border-radius: 50%;
  padding: 8px 10px;
}
.ad-contacts-schedule {
  margin-top: 30px;
}
.ad-contacts-schedule p {
  line-height: 3;
  font-size: 16px;
}
.ad-contacts-day_marker-sunday {
  font-size: 13px!important;
  position: relative;
  left: 95px;
  top: -30px;
}
.ad-contacts-day_marker-sunday:last-child {
  top: -60px;
}
.ad-contacts-block__time-labels,
.ad-contacts-block__dash-labels {
  line-height: 30px;
}
/*------------------------------------------------------*/
.block-wrapper-news {
  padding-top: 20px;
}
.ad-news .col-md-6,
.ad-news .col-md-12 {
  padding: 0;
}
.ad-news {
  margin-bottom: 50px;
}
.ad-new1 {
  border: 1px solid #dddddd;
}
.ad-new1 a {
  color: #000;
}
.ad-news-content {
  overflow: hidden;
  min-height: 300px;
  padding: 20px;
}
.ad-news .col-md-12 {
  padding-right: 0;
  padding-left: 0;
  padding: 20px;
}
.ad-news-img {
  max-height: 300px;
  width: 100%;
  overflow: hidden;
  padding: 0;
}
.ad-news-img img {
  height: auto;
  width: 100%;
}
.ad-news-content-text {
  overflow: hidden;
}
.ad-news-read_more {
  float: right;
  margin: 20px 20px 10px 20px;
}
.sort_news,
.delete_news {
  float: right;
  cursor: pointer;
}
.block-wrapper-news .sort_news,
.block-wrapper-news .delete_news {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .ad-news-content {
    min-height: 400px;
    padding: 20px;
  }
}
/*------------------------------------------------------*/
.ad-new-page {
  max-width: 1000px;
}
.ad-new-page button {
  margin-right: 20px;
}
.ad-new-page hr {
  margin: 20px 100px;
  border: 0;
  height: 2px;
  background: #ddd;
  background-image: -webkit-linear-gradient(left, #ccc, #ddd, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #ddd, #ccc);
}
.ad-new-img {
  max-height: 500px;
  width: 100%;
  overflow: hidden;
}
.ad-new-img img {
  height: auto;
  width: 100%;
}
.ad-new-content {
  margin-top: 50px;
  font-size: 20px;
  line-height: 1.6;
}
.ad-new-content form label,
.ad-new-content form input {
  font-size: 14px;
}
.block-news-wrapper {
  max-width: 1000px;
}
.edit-news-submit_btn {
  margin: 20px -15px 20px 0;
}
.block-new__hint {
  font-size: 12px;
  margin-top: 10px;
}
/*------------------------------------------------------*/
.ad-another-news {
  overflow: hidden;
  margin-bottom: 30px;
}
.ad-another-news-wrapper {
  background-color: #fafafa;
}
.ad-another-news a {
  color: #000;
}
.ad-another-news__item {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  overflow: hidden;
}
.item-image {
  height: 12em;
  border: 2px solid #DDDDDD;
}
.item-image img {
  width: 100%;
}
.item-image img {
  width: 100%;
}
.ad-another-news-item_bottom_text {
  position: relative;
  text-align: center;
  max-height: 130px;
  border: 2px solid #DDDDDD;
  border-top: none;
  background-color: white;
  min-height: 130px;
  padding: 30px 0 30px 0;
}
.ad-another-news-item_bottom_text a {
  color: #000;
}
/*------------------------------------------------------*/
.ll-menu-panel-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
  background: #ddd;
  color: #323433;
  width: 90%;
  max-width: 300px;
  padding: 0;
  z-index: 101;
  overflow: auto;
  box-shadow: 2px 0px 2px 0px #363636;
}
a.ll-menu-panel-trigger {
  z-index: 102;
  position: fixed;
  text-decoration: none;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #323433;
  padding: 10px 15px 10px 15px;
  display: none;
}
.ll-menu-panel-left a.ll-menu-panel-trigger {
  display: block;
}
.ll-menu-panel-left-user {
  height: 80px;
  width: 100%;
  margin-top: 10px;
  position: relative;
  text-align: center;
}
.ll-menu-panel-left-list {
  margin-top: 50px;
  position: relative;
}
.ll-menu-panel-left-links {
  margin-top: 10px;
  position: relative;
}
.ll-menu-panel-left-links a.llg-button {
  position: relative;
  display: block;
  background-color: #F5DA81 !important;
  padding: 10px 15px;
  color: #555;
  text-align: left;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: -1px;
  border: 1px solid #ddd;
}
.ll-menu-panel-left-links a.llg-button:before {
  font-family: FontAwesome;
  padding-right: 7px;
  content: "\f075 ";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.ll-menu-panel-left .ll-header-user {
  position: relative !important;
  margin-top: 10px !important;
  text-align: center !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 10 !important;
  display: inline !important;
}
@media (max-width: 767px) {
  a.ll-menu-panel-trigger {
    display: block;
  }
  .ll-header-user {
    display: none;
  }
  .ll-menu-panel-left .ll-header-user {
    position: none;
    margin-top: none;
    text-align: none;
    top: none;
    right: none;
    z-index: none;
    display: none;
  }
  .ll-header-links {
    display: none;
  }
  .llg-wrapper-header .col-md-4 {
    width: 100%;
    text-align: center;
    height: 70px;
  }
  .ll-logo {
    display: inline;
  }
  .ll-logo img {
    margin-top: 10px;
    max-width: 200px;
  }
  .ll-header-menu {
    display: none;
  }
}
.list-group-item {
  position: relative;
  display: block;
  padding: 20px 15px;
  margin-bottom: -1px;
  background-color: #eacc36;
  border: 1px solid #ddd;
  text-align: center;
}
.list-group-item-success {
  color: #3c763d;
  background-color: #e1bb18;
  width: 100%;
  text-align: center;
  color: #ffffff;
}
a.list-group-item-success:hover,
a.list-group-item-success:focus {
  color: #e1bb18;
  background-color: #f5f5f5;
}
a.list-group-item-success {
  color: #ffffff;
}
.panel {
  margin-bottom: 20px;
  background-color: none;
  border: 0px solid transparent;
  border-radius: 0;
  box-shadow: none;
}
/*------------------------------------------------------*/
/*.ad-trucking-title{
  display: block;
  width: 35%;
  position: relative;align-content: center;
  margin: 0 auto;
  padding: 3em 0 1.8em 0;

  td{
    vertical-align: middle;
  }
  td>img{
    width:80px;
    height: 80px;

  }
  td>h1{
    color:@base_yellow_color;
    text-align: center;
    padding-left: 1.2em;

  }
}

*/
.ad-services-info_blocks,
.ad-trading-info_blocks {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.ad-services-info_blocks p,
.ad-trading-info_blocks p {
  padding: 1.6em;
  text-align: justify;
  font-size: 16px;
  background-color: #FFFFFF;
  float: left;
  width: 30%;
  min-height: 180px;
  height: auto;
  margin-right: 20px;
  border: 1px solid #ffc100;
}
.ad-services-info_blocks p:empty,
.ad-trading-info_blocks p:empty {
  display: none;
}
.ad-services-info_blocks p:last-child,
.ad-trading-info_blocks p:last-child {
  margin-right: 0;
}
.ad-services-info_blocks p:empty,
.ad-trading-info_blocks p:empty {
  display: none !important;
}
@media screen and (max-width: 720px) {
  .ad-services-info_blocks,
  .ad-trading-info_blocks {
    display: block;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .ad-services-info_blocks p,
  .ad-trading-info_blocks p {
    padding: 1.6em;
    text-align: justify;
    display: block;
    font-size: 16px;
    background-color: #FFFFFF;
    float: none;
    width: 80%;
    min-height: 120px;
    height: auto;
    margin-right: 0;
    margin: 0 auto;
    border: 1px solid #ffc100;
    margin-bottom: 2em;
  }
  .ad-services-info_blocks p:empty,
  .ad-trading-info_blocks p:empty {
    display: none;
  }
  .ad-services-info_blocks p:last-child,
  .ad-trading-info_blocks p:last-child {
    margin-right: auto;
  }
  .ad-services-info_blocks p:empty,
  .ad-trading-info_blocks p:empty {
    display: none !important;
  }
}
.ad-services-contacts-telephone {
  padding: 50px 75px 50px 0;
  float: right;
}
.ad-services-contacts-email {
  padding: 50px 0 50px 75px;
  float: left;
}
@media screen and (max-width: 991.5px) {
  .ad-services-contacts-email {
    padding: 50px 0 50px 0;
    float: right;
    width: 45%;
  }
  .ad-services-contacts-telephone {
    padding: 50px 0 50px 15px;
    float: left;
    width: 45%;
  }
}
@media screen and (max-width: 815px) {
  .ad-services-contacts-email {
    padding: 50px 15px 50px 15px;
    float: none;
    width: 70%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .ad-services-contacts-telephone {
    padding: 50px 0 50px 15px;
    float: none;
    width: 70%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
.ad-services-contacts-paragraph {
  min-height: 44px;
}
.ad-services-contacts-button {
  text-align: center;
  margin-top: 2em;
}
.ad-services-contacts-button a:first-child {
  margin-left: 0;
}
.ad-services-contacts-button a:last-child {
  margin-left: 30px;
}
@media screen and (max-width: 1199.5px) {
  #trucking_contacts {
    width: 100%;
    margin-left: 0;
  }
  #trucking_contacts a:last-child {
    margin-left: 20px;
  }
  .ad-services-contacts-button {
    width: 80%;
    margin-left: 10%;
    /*
    a{
      margin-left: 0px;

      margin: 0 auto;
      margin-bottom: 20px;
    }

    a:first-child{margin-left: 0;}
    a:last-child{margin-left: 0;}
    */
  }
  .ad-services-contacts-button a {
    float: none;
    vertical-align: middle;
  }
}
@media screen and (max-width: 979.5px) {
  #trucking_contacts a:last-child {
    margin-left: 0;
  }
  .ad-services-contacts-button {
    margin-top: 2em;
  }
  .ad-services-contacts-button a:first-child {
    margin-left: 0;
  }
  .ad-services-contacts-button a:last-child {
    margin-left: 30px;
  }
}
@media screen and (max-width: 740px) {
  .ad-services-contacts-button {
    text-align: center;
    margin-top: 2em;
  }
  .ad-services-contacts-button a:first-child {
    margin-left: auto;
  }
  .ad-services-contacts-button a:last-child {
    margin-left: auto;
  }
  #trucking_contacts a {
    width: 80%;
    display: block;
    float: none;
    margin: 0 auto 40px auto;
  }
  #trucking_contacts a:last-child {
    margin-left: auto;
  }
}
.ad-services-price_table {
  margin-top: 20px;
  margin-bottom: 40px;
  border-collapse: collapse;
  font-size: 16px;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}
.ad-services-price_table th,
.ad-services-price_table thead {
  text-align: center;
}
.ad-services-price_table thead {
  background-color: #efefef;
  font-weight: bold;
}
.ad-services-price_table thead th,
.ad-services-price_table thead td,
.ad-services-price_table thead tr {
  border: none;
  background-color: #efefef;
}
.ad-services-price_table table,
.ad-services-price_table tr,
.ad-services-price_table td {
  border: 1px solid #efefef;
}
.ad-services-price_table th,
.ad-services-price_table tr,
.ad-services-price_table td {
  padding: 20px;
  vertical-align: top;
  background-color: #FFFFFF;
}
@media screen and (max-width: 494px) {
  .ad-services-price_table th,
  .ad-services-price_table tr,
  .ad-services-price_table td {
    padding: 5px;
    vertical-align: top;
    background-color: #FFFFFF;
  }
}
/*------------------------------------------------------*/
.ad-auth-admin {
  margin-top: 10%;
  margin-bottom: 10%;
}
.login-box {
  width: 375px;
  display: inline-block;
}
/*------------------------------------------------------*/
.ad-page-info_blocks,
.ad-vacancies-info_blocks {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}
.block-vacancies,
.contacts-block {
  position: relative;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 70%;
  height: auto;
  padding: 1.8em;
  border: 1px solid #ffc100;
  overflow: hidden;
}
.block-vacancies p,
.contacts-block p {
  display: block;
  float: left;
  width: 100%;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 0;
  text-indent: 2em;
}
.ad-vacancies-contacts_block {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
/*------------------------------------------------------*/
.block-new-social-buttons {
  float: right;
  margin: 50px 0;
}
.block-new-social-buttons ul {
  clear: both;
}
.block-new-social-buttons ul li {
  display: inline;
}
.block-new-social-buttons i {
  color: 8d8f8e;
  font-size: 25px;
  padding: 8px;
  margin-left: 8px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-pack: center;
  justify-content: center;
}
.block-new-social-buttons a i {
  width: 35px;
  cursor: pointer;
  color: #8d8f8e;
}
.block-new-social-buttons__label {
  color: #ffc41e;
  display: block;
  float: right;
  clear: both;
  font-size: 18px;
}
/*------------------------------------------------------*/
.block-home-about {
  position: relative;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 70%;
  height: auto;
  padding: 1.8em;
  border: 1px solid #ffc100;
  overflow: hidden;
}
.block-home-about p {
  display: block;
  float: left;
  width: 100%;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 0;
  text-indent: 2em;
}
.ad-about_us-structure h1 {
  color: #ffc100;
  text-align: center;
}
.ad-about_us-structure img {
  width: 98%;
  height: auto;
  align-content: center;
  margin-bottom: 2em;
}
@media screen and (max-width: 580px) {
  .ad-about_us-structure img {
    width: 100%;
    height: 180px;
  }
}
/*------------------------------------------------------*/
.ad-registration_documents-documents_block {
  padding: 30px;
}
.ad-registration_documents-documents_block h4 {
  padding-bottom: 30px;
}
.ad-registration_documents-block {
  padding: 0;
}
.ad-registration_documents-block table {
  width: 100%;
}
.ad-registration_documents-block .form-control {
  width: 100%;
}
.ad-registration_documents-name-td {
  text-align: left;
  width: 100%;
}
.ad-registration_documents-name-td a {
  color: #000;
}
.ad-registration_documents-icon-td {
  text-align: right;
  padding-left: 5px;
}
.ad-registration_documents-icon-td a {
  padding-top: 5px;
}
.ad-registration_documents-icon-td:last-child {
  text-align: left;
}
/*------------------------------------------------------*/
.block-traiding-links {
  margin: 20px 0 100px 0;
}
.block-traiding-link {
  display: inline-block;
  width: 320px;
}
.block-traiding-link__element {
  overflow: hidden;
  margin: 10px;
  border: 1px solid #dddddd;
}
.block-traiding-link__image {
  width: 100%;
  height: 80%;
}
.block-traiding-link__image img {
  width: 100%;
  height: auto;
}
.block-traiding-link__title a {
  color: #000;
}
/*------------------------------------------------------*/

/*# sourceMappingURL=AgroDonbass.css.map */
