.block-header-menu nav {
    background: none;
    border: none;
}

nav{
    margin-top: -9px;
}

ul.nav > li{
    height: 100px;
    display: flex;
    align-items: center;
}

ul.nav > li:hover{
    background-color: #eae9e7;
}

nav .dropdown-menu {
    /*цвет фона dropdown меню*/
    background-color: #e1bb18;

}

nav .dropdown-menu > li {
    /*цвет текста пункта меню*/
    border-bottom: 1px dotted lightgrey;

}


nav .dropdown-menu :last-child {
    /*цвет текста пункта меню*/
    border-bottom: 0px;

}

nav .dropdown-menu > li > a {
    /*цвет текста пункта меню*/
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin: 20px;

}

nav .dropdown-menu > li > a:hover,nav .dropdown-menu > li > a:focus {
    /*цвет текста пункта меню при поднесении к нему курсора*/
    color: #fff;
    /*цвет фона пункта меню при поднесении к нему курсора*/
    background-color: #e1bb18;
}
nav .dropdown-menu .divider {
    /*цвет разделителя*/
    background-color: transparent;
}

/*nav .dropdown-menu > li{*/
    /*min-height: 50px;*/
/*}*/
