@base_yellow_color: #ffc100;
@mustard_color: #fbc01c;
@text_menu_color: #323433;
@footer_background_color: #323433;
@news_background_color: #FAFAFA;
@menu_background_color: #fafafa;
@menu_header_link_hover: #efefef;