.yellow-text{
	color: @base_yellow_color;
}
.gray-text{
	color: #bbbbbb;
}

.margin-top-10px{
	margin-top: 10px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.margin-top-20px{
	margin-top: 20px;
}

.margin-top-50px{
	margin-top: 50px;
}
.block-wrapper-main {
  input[type="file"] {
    width:100%;
    margin-top:20px;
  }
  select[multiple] {
    width:100%;
    width:100%;
  }
}
.block-wrapper-main-news {
  background:@news_background_color;
  margin-top:50px
}
.block-wrapper-header{
  background-color: @menu_background_color;
}
.edit_title_img_news {
  .jcrop-holder,
  img {
    margin-bottom: 20px;
  }
  input[type="file"] {
    width:100%;
  }
}

.block-wrapper-services-info, .block-wrapper-vacancies-info, .block-wrapper-trading-info{
  background-color: @menu_background_color;
  padding-top: 3em;
  padding-bottom: 2em;
}
.block-wrapper-title{
  background-color: #FFFFFF;
  /*table{
	display: block;
	width: 50%;
	position: relative;
    align-content: center;
	margin: 0 auto;
	padding:  0;

	td{
	  vertical-align: middle;
	}
	td>img{
	  height: 80px;
      width:auto;
	}
	td>h1{
	  color:@base_yellow_color;
	  text-align: center;
	  padding-left: 1.2em;

	}
  }*/

  .block-title{
    display: block;
    width: 50%;
    float: none;
    margin: 0 auto;
    label,
    input {
      diaplay:block;
      float: left;
    }
    label {
      line-height:35px;
    }
    img{
      height: 80px;
      width:auto;
      //float: left;
      display: inline;
     margin-right: 30px;
    }
    h1{
      color: #ffc100;
      text-align: center;
      display: inline-block;
     // float: right;
      width: 100%;
      line-height: 50px;


    }

  }
}
.block-tinymce-container {
  border:none !important;
  margin:0 !important;
  padding:0 20px !important;
  width:100% !important;
}
.block-wrapper-title-for-plants {
  .block-title h1{
    color: #ffc100;
    text-align: center;
    display: inline-block;
   // float: right;
    width: 100%;
    line-height: 50px;
  }

}
.block-wrapper-services-contacts, .block-wrapper-vacancies-contacts, .block-wrapper-trading-contacts{
  font-size: 16px;

  i.fa.fa-phone.ad-contacts-phone_icon {
    color: #fff;
    background: #ffc100;
    border-radius: 50%;
    height: 36px!important;
    width: 36px!important;
    padding: 11px 12px;
  }
  i.fa.fa-envelope.ad-contacts-phone_icon {
    color: #fff;
    background: #ffc100;
    border-radius: 50%;
    width: 36px!important;
    height: 36px!important;
    padding: 10px 10px;
  }

  td:last-child{
	padding-left: 15px;
  }
}

.block-wrapper{
  padding-top: 2em;
  padding-bottom: 2em;
}

.mce-container {
  margin: 50px 0;
}

.block-wrapper-services-price, .block-wrapper-vacancies-list, .block-wrapper-trading-{
  h3{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 0;
	margin-bottom: 2em;
  }
  background-color: @menu_background_color;
}

.ad__button {
   padding: 10px 40px 10px 40px;
   background-color: #FFFFFF;
   border: 1px solid @base_yellow_color;
   border-radius: 1px;
   color: @text_menu_color;
   font-size: 18px;
   float: left;
   text-decoration: none;
   margin-bottom: 20px;
   margin-left: 20px;
 }

.ad__button_2{
  padding: 10px 40px 10px 40px;
  background-color: #FFFFFF;
  border: 1px solid @base_yellow_color;
  display: inline-block;
  border-radius: 1px;
  color: @text_menu_color;
  font-size: 18px;
  float: left;
  text-decoration: none;
  margin:0 0 20px 20px;
  transition: 0.3s linear;
  width: auto;
}

@media screen and(max-width: 740px) {
  .ad__button_2{
    padding: 10px 40px 10px 40px;
    background-color: #FFFFFF;
    border: 1px solid @base_yellow_color;
    display: block;
    border-radius: 1px;
    color: @text_menu_color;
    font-size: 18px;
    float: none;
    text-decoration: none;
    margin:0 0 20px 0;
    transition: 0.3s linear;
    width: 100%;
  }
  .ad__button_2:last-child{
    margin-top: 30px;
  }

}

.ad__button_2-2-strings {
  line-height:50px;
}

.ad__button_2:hover{
  text-decoration: none;
 // color: @text_menu_color;
  color: #FFFFFF; // white text
  background-color: @base_yellow_color;
  transition: 0.3s linear;
}
.ad-edit-form {
  margin: 50px 0;
  width:100%;
}
.btn-block {
  width:auto;
}
.add-buttons-description {
  font-size:12px;
  margin-top:20px;
}
.ad-buttons-edit td+td+td {
  text-align: center;
}
.container-for-save-edited-text {
  margin:20px 15px 5px 15px;
  padding:0;
  width:100%;
  overflow: hidden;
  button {
    margin:0;
  }
}
#feedback-modal {
  iframe {
    min-height: 490px;
  }
  .modal-header {
    border:none;
  }
}
.hide-meta-tags-edit {
  display: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ffc100;
  border-color: #ffc100;
}

#add_news {
  .col-md-12,
  .box-footer,
  .col-md-4 {
    margin:0;
    padding: 0;
  }
}
.form_add_news {
  .block-wrapper-title {
    margin-bottom: 50px;
  }
}

.mce-panel{
  width: 100%;
}

.padding-right_0{
  padding-right: 0;
}