.ad-another-news{
  overflow: hidden;
	margin-bottom: 30px;
}
.ad-another-news-wrapper {
  background-color: #fafafa;
}
.ad-another-news a{
  color: #000;
}
.ad-another-news__item {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  overflow: hidden;
}
.item-image{
  height: 12em;
  border: 2px solid #DDDDDD;
  img{  width: 100%; }
}
.item-image  img{  width: 100%; }

.ad-another-news-item_bottom_text{
  position: relative;
  text-align: center;
  max-height: 130px;
  border: 2px solid #DDDDDD;
  border-top: none;
  background-color: white;
  min-height: 130px;
  padding: 30px 0 30px 0;
}
.ad-another-news-item_bottom_text a{
	color: #000;
	}