.ad-new-page {
  max-width:1000px;
  button {
    margin-right:20px;
  }
}
.ad-new-page hr {
	margin: 20px 100px;
    border: 0;
    height: 2px;
    background: #ddd;
    background-image: -webkit-linear-gradient(left, #ccc, #ddd, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #ddd, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #ddd, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #ddd, #ccc);
}

.ad-new-img {
	max-height: 500px;
	width: 100%;
	overflow: hidden;
}
.ad-new-img img {
    height: auto;
    width: 100%;
}
.ad-new-content {
  margin-top: 50px;
  font-size:20px;
  line-height: 1.6;
  form {
    label,
    input {
      font-size:14px;
    }
  }
}
.block-news-wrapper {
  max-width:1000px;
}

.edit-news-submit_btn{
  margin: 20px -15px 20px 0

}
.block-new__hint {
  font-size:12px;
  margin-top:10px;
}
