.ad-registration_documents-documents_block {
	padding: 30px;
  h4 {
    padding-bottom: 30px;
  }
}
.ad-registration_documents-block {
    padding: 0;
  table {
    width:100%;
  }
  .form-control {
    width:100%;
  }
}
.ad-registration_documents-name-td {
  text-align: left;
  width:100%;
  a {
    color: #000;
  }
}
.ad-registration_documents-icon-td {
  text-align: right;
  padding-left: 5px;
  a {
    padding-top:5px;
  }
}
.ad-registration_documents-icon-td:last-child {
  text-align: left;
}
