.ad__home-slider-caption {
  position: absolute;
  top: 20%;
  right: 15%;
  display:none; // начальная установка, у активных элементов включается
}
.active .ad__home-slider-caption {
  display:block;
}
.ad__home-slider-caption h1{
	font-size: 51px;
	color: #fff;
		 font-weight: lighter;
}
.ad__home-slider-caption h3{
	font-size: 28px;
	color: #fff;
	 letter-spacing: 5px;
	 font-weight: normal;
}
.carousel-indicators{
	position: absolute;
	bottom: 20px;
//    width: 15%;
//    margin: 0 7%;
}

.ad-home-visual{
	height: auto;
	position: relative;
//	background-image: url('../images/visuals/main.jpg');
//	background-size: cover;
  img {
    width: 100%;
  }
}

@media (max-width: 767px) {
	.ad__home-slider-caption, .carousel-indicators, .ad__header-menu{
		display: none;	
	}
	.ad-home-visual{
		height: 70px;
	}	
}
@media (max-width: 500px) {
  .ad-home-visual {
    display: none;
  }
}

/*Слайдеры предложения*/
 .carousel-fade   .carousel-inner 
.item {
            transition-property: opacity;
			transition-duration: 2s; 			
        }
        
.item,
        .active.left,
        .active.right {
            opacity: 0.5;
        }

.active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

.next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
        }

 .carousel-fade   .carousel-control {
        z-index: 2;
    }



/**/
