.ad__footer-contacts{
   padding: 2.2em;
   background-color: @footer_background_color;
   color: #ffffff;
   a,
   a:hover,
   a:visited {
     color:#FFFFFF;
   }
   #icon-foot i {
     background:#FFFFFF;
     color:@footer_background_color;
     padding: 10px;
     margin-right: 8px;
     height: 50px;
     text-align: center;
     width: 50px;
     vertical-align: middle;
     justify-content: center;
   }
  #init_map {
    cursor: pointer;
  }
  
  @media screen and(max-width: 1048px) {
    #icon-foot i {
      background:#FFFFFF;
      color:@footer_background_color;
      padding: 8px;
      margin-right: 6px;
      height: 50px;
      text-align: center;
      width: 50px;
      vertical-align: middle;
      justify-content: center;
    }
  }

  @media screen and(max-width: 990px) {
    #icon-foot i {
      background:#FFFFFF;
      color: @footer_background_color;
      padding: 10px;
      margin-right: 8px;
      height: 50px;
      text-align: center;
      width: 50px;
      vertical-align: middle;
      justify-content: center;
    }
  }

   i.fa-angle-right {

     color: @base_yellow_color;
     font-size: 25px;
     font-weight: 700;
   }
 }

.ad__footer-contacts-social_links{
  a,a:visited,a:hover{text-decoration: none;}
}

.ad__footer-contacts-list-of-services {
  text-transform: uppercase;
  line-height: 2em;
  font-size: 20px;
}

.ad__footer-contacts-adr{
margin-left: 0;
  i{
    color:@base_yellow_color;
  }
}
.ad__footer-contacts-list{
  margin-left: 0;
}
.ad__footer-contacts-social_links{
  margin-left: 0;
}

@media screen and (min-width: 1000px) {
  .ad__footer-contacts-adr  i {
    padding-left: 80%;
  }
}
@media screen and (max-width: 999.5px) {
  .ad__footer-contacts-adr  i {
    padding-left: 73%;
  }
}
@media screen and (max-width: 990px) {
  .ad__footer-contacts-list{
    margin-left: 0;
    margin-top: 10px;
  }
  .ad__footer-contacts-social_links{
    margin-left: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 840px) {
  .ad__footer-contacts-adr  i {
    padding-left: 75%;
  }
  .ad__footer-contacts-adr{
    margin-left: 0;
  }
  .ad__footer-contacts-adr-title{
    padding-left: 0;
  }
  .ad__footer-contacts-list-of-services{
    padding-left: 0;
  }
  .ad__footer-contacts-social_links{
    margin-left: 0;
  }
  .ad__footer-contacts-list{
    margin-left: 0;
  }
}

@media screen and (max-width: 767.5px) {
  .ad__footer-contacts-adr  i {
    padding-left: 0;
  }
  .ad__footer-contacts-adr{
    margin-left: 30%;
  }
  .ad__footer-contacts-adr-title{
    padding-left: 15px;
  }
  .ad__footer-contacts-list{
    margin-left: 30%;
  }
  .ad__footer-contacts-list-of-services{
    padding-left: 15px;
  }
  .ad__footer-contacts-social_links{
    margin-left: 33%;
  }
  .ad__footer-contacts-adr p{
    padding-left: 0;
  }
}

@media screen and(max-width: 599.5px) {
  .ad__footer-contacts-adr{
    margin-left: 0;
  }
  .ad__footer-contacts-adr-title{
    padding-left: 15px;
  }
  .ad__footer-contacts-list-of-services{
    padding-left: 15px;
  }
  .ad__footer-contacts-social_links{
    margin-left: 25%;
  }
  .ad__footer-contacts-list{
    margin-left: 0;
  }
  .ad__footer-contacts-adr p{
    padding-left: 15px;
  }

}
.ad-footer-login {
	position: absolute;
	top: 0px;
	right: 0px;
  a
  a:hover {
    text-decoration: none;
  }
}

@media screen and(max-width: 520px) {
    .ad__footer-contacts-adr{
      padding-top: 40px;
    }
  .ad__footer-contacts-social_links{
    margin-left: 0;
   padding-left: 15px;
  }
}