.block-traiding-links{
	margin: 20px 0 100px 0;
}
.block-traiding-link{
	display: inline-block;
	width: 320px;
}
.block-traiding-link__element{
	overflow: hidden;
	margin: 10px;
	border: 1px solid #dddddd;
}
.block-traiding-link__image{
	width: 100%;
	height: 80%;
}
.block-traiding-link__image img{
	width: 100%;
	height: auto;
}
.block-traiding-link__title a{
	color: #000;
}