.ad__header-menu{
  display: block;
  padding: 0;
  margin: 0;
  .navbar{
    margin-bottom: 0;
  }
  a {
    white-space: nowrap;
  }
}

@media screen and(min-width: 1200px) {
  .ad__header-menu{padding-left: 3.2em; }

}

@media screen and(max-width: 1199.5px) {
  .ad__header-menu{padding-left: 30px; }
}

.ad__header-menu nav {
  background: none;
  border: none;
}

/*nav{
  margin-top: -9px;
}
*/

ul.nav > li{
  height: 110px;
  line-height: 110px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:500 !important;
  font-size:20px !important;
  font-family: 'RobotoRegular', sans-serif !important;
}

@media screen and(max-width: 1200px) {
  .ad__header-menu nav {
    background: none;
    border: none;
  }
  ul.nav > li{
    height: 110px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:500 !important;
    font-size:20px !important;
    font-family: 'RobotoRegular', sans-serif !important;
  }

}

@media screen and (max-width: 991.5px) {
  .ad__header-menu{padding-left: 0; }

.navbar-nav{
  display: inline-block;
  float:none;
  padding-left: 10px;
}
  .ad__header-menu nav {
    background: none;
    border: none;
  }
  ul.nav > li{
    height: 110px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:500 !important;
    font-size:20px !important;
    font-family: 'RobotoRegular', sans-serif !important;
  }
}

@media screen and(max-width: 840px){
  .navbar-nav {
    display: inline-block;
    float: none;
    padding-left: 10px;
  }

  .ad__header-menu nav {
    background: none;
    border: none;
  }

  ul.nav > li {
    height: 110px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500 !important;
    font-size: 20px !important;
    font-family: 'RobotoRegular', sans-serif !important;
  }
}
@media screen and(max-width: 839px){
  .navbar-nav {
    display: inline-block;
    float: none;
    padding-left: 10px;
  }

  .ad__header-menu nav {
    background: none;
    border: none;
  }

  ul.nav > li {
    height: 110px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500 !important;
    font-size: 20px !important;
    font-family: 'RobotoRegular', sans-serif !important;
  }
}

ul.nav > li:hover{
  background-color: #eae9e7;


}
.navbar-default .navbar-nav > li > a {
  color: @text_menu_color;
}

nav .dropdown-menu {
  /*цвет фона dropdown меню*/
  background-color: @base_yellow_color;
  min-width: 186px;
  padding: 1px 0;
}
nav .dropdown-menu :last-child {
  /*цвет текста пункта меню*/
  border-bottom: 0px;

}
nav .dropdown-menu > li {
  /*цвет текста пункта меню*/
  border-bottom: 1px dotted lightgrey;

}
nav .dropdown-menu > li > a {
  /*цвет текста пункта меню*/
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  line-height: 1.8em;

}

nav .dropdown-menu > li > a:hover,nav .dropdown-menu > li > a:focus {
  /*цвет текста пункта меню при поднесении к нему курсора*/
  color: #ffffff;
  /*цвет фона пункта меню при поднесении к нему курсора*/
  background-color: #eacc36;
}
nav .dropdown-menu .divider {
  /*цвет разделителя*/
  background-color: transparent;
}


.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  font-size: 18px;
}

@media screen and(max-width: 991.5px) {

  .navbar-collapse {
    width: 100%;
    border-top: 0;
    box-shadow: none;
  }


}

@media screen and(max-width: 820px) {
  nav .dropdown-menu {
    /*цвет фона dropdown меню*/
    background-color: @base_yellow_color;
    min-width: 150px;
    padding: 1px 0;
  }

}
