.block-home-about{
  position: relative;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 70%;
  height: auto;
  padding: 1.8em;
  border: 1px solid @base_yellow_color;
  overflow:hidden;
  p{
    display: block;
    float: left;
    width: 100%;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 0;
    text-indent: 2em;
  }
}

.ad-about_us-structure{

  h1{
    color: @base_yellow_color;
    text-align: center;
  }

  img{
    width: 98%;
    height: auto;
    align-content: center;
    margin-bottom: 2em;
  }
}

@media screen and(max-width: 580px) {
  .ad-about_us-structure{
    img{
      width: 100%;
      height: 180px;
    }
  }
}