.ad-contacts-block {
	padding: 30px;
	.fa {
		font-size: 24px;
	}
	h4 {
		margin-bottom: 15px;
	}
	td {
		padding: 10px;
	}
}
#edit_contact {
	.delete_office {
		margin-right: 40px;
	}
}

.ad-contacts-marker{
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 10px 15px;
  margin-right: 7px;
}
.ad-contacts-day_marker{
	font-weight: bold;
	background-color: #f1f1f1;
	border-radius: 50%;
	padding: 10px;	
}
.ad-contacts-day_marker  + .ad-contacts-day_marker {
  position:relative;
  top: 10px;
  left:-10px;
}
.gray-bg{
	background: #fbf9fa;
}

.ad-contacts-phone_icon{
	color: #fff;
	background: #ffc100;
	border-radius: 50%;
	padding: 8px 10px;	
}
.ad-contacts-schedule {
  margin-top: 30px;
}
.ad-contacts-schedule p{
	line-height: 3;	
	font-size: 16px;
}
.ad-contacts-day_marker-sunday{
  font-size: 13px!important;
  position:relative;
  left:95px;
  top:-30px;
}
.ad-contacts-day_marker-sunday:last-child {
  top:-60px;
}
.ad-contacts-block__time-labels,
.ad-contacts-block__dash-labels {
	line-height: 30px;
}