.block-wrapper-news{
	//border-top: 2px solid #dddddd;
	padding-top: 20px;
}
.ad-news .col-md-6, .ad-news .col-md-12{
	padding: 0;
}
.ad-news{
	margin-bottom: 50px;
}
.ad-new1{
	border: 1px solid #dddddd;
 // padding: 10px;
  a {
  color: #000;
	}
}
.ad-news-content {
	overflow: hidden;		
	min-height: 300px;
	padding: 20px;
}
.ad-news .col-md-12 {
    padding-right: 0;
    padding-left: 0;
	padding: 20px;	
}
.ad-news-img {
	max-height: 300px;
	width: 100%;
	overflow: hidden;
  	padding: 0;
}
.ad-news-img img {
	height: auto;
	width: 100%;
}
.ad-news-content-text {
	overflow: hidden;	
}
.ad-news-read_more {
	float: right;
	margin: 20px 20px 10px 20px;
}
.sort_news,
.delete_news {
	float:right;
	cursor:pointer;
}
.block-wrapper-news .sort_news,
.block-wrapper-news .delete_news {
	margin-top:20px;
}
@media (max-width: 767px) {
	.ad-news-content{
		min-height: 400px;
		padding: 20px;
	}	
}