// Уведомление для собранного CSS-файла
/*-------------------------------------------------------
Этот файл стилей собирается из нескольких LESS файлов, которые находятся в папке \resources\assets\less\AgroDonbass\
Его не нужно изменять, т.к. он будет перезаписан и изменения будут потеряны.
Сборка идёт через Elixir. См. http://laravel.su/docs/5.0/elixir
Настройки сборки находятся в файле \resources\assets\less\AgroDonbass\agrodonbass

Как установить себе Laravel Elixir:
a) Устанавливаем node.js https://nodejs.org/en/
b) Запускаем командную строку (cmd) в режиме администратора
c) Переходим в папку с нашим проектом (cd путь к папке)
d) Запускаем по очереди команды:
    npm install --global gulp
    npm install --save-dev gulp
    npm install
e) После установки сборка идет командой:
    gulp
--------------------------------------------------------*/

// ------------------------------------------------------
@import "_global_variables"; // Переменные
@import "_mixins"; // Миксины

@import "_global_selectors"; // Стили для селекторов на всем сайте
/*------------------------------------------------------*/
@import "_global_classes"; // Стили для глобальных классов на всем сайте
/*------------------------------------------------------*/


//-------------------------------------------------------------------------------------------------------------------------
//-БЛОКИ:  

@import "ad__header"; // шапка
/*------------------------------------------------------*/
@import "ad__footer-contacts"; // футер
/*------------------------------------------------------*/
@import "block-header-logo";
/*------------------------------------------------------*/
@import "ad__header-menu";
/*------------------------------------------------------*/
@import "block-home-carousel";
/*------------------------------------------------------*/
@import "block-home-offers";
/*------------------------------------------------------*/
@import "block-home-offers-edit";
/*------------------------------------------------------*/
@import "block-home-slider-edit";
/*------------------------------------------------------*/
@import "block-meta-edit";
/*------------------------------------------------------*/
@import "block-home-news";
/*------------------------------------------------------*/
@import "ad__home-slider";
/*------------------------------------------------------*/
@import "block-pagination";
/*------------------------------------------------------*/
@import "ad__contacts";
/*------------------------------------------------------*/
@import "ad__news";
/*------------------------------------------------------*/
@import "ad-new-page";
/*------------------------------------------------------*/
@import "ad-another-news";
/*------------------------------------------------------*/
@import "ad-menu-panel-left";
/*------------------------------------------------------*/
@import "block-services";
/*------------------------------------------------------*/
@import "ad__auth-admin";
/*------------------------------------------------------*/
@import "block-vacancies";
/*------------------------------------------------------*/
@import "block-new-social-buttons";
/*------------------------------------------------------*/
@import "ad__about";
/*------------------------------------------------------*/
@import "ad-registration_documents";
/*------------------------------------------------------*/
@import "ad__traiding";
/*------------------------------------------------------*/