.carousel-indicators li {
    display: inline-block;
    width: 20%;
	margin-left: 15px;
	margin-right: 15px;
    height: 4px;
    margin: 0;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ffffff;
    border: 0px solid #ffffff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 20%;
    height: 4px;
    margin: 0;
    background-color: @base_yellow_color;
}

.carousel-control.right, .carousel-control.left{

    background-image: none;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left{
    display: none;
}


.carousel-caption {
    position: absolute;
    right: 20px;
	top: 20px;	
    bottom: drh;
    left: th;
    z-index: 10;
    padding-top: gtrfh;
    padding-bottom: tgfh;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}