.block-home-offers {
  a:hover,
  a:visited,
  a {
    color: @text_menu_color;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    font-family: 'RobotoMedium', sans-serif !important;
  }
}
.block-home-offer{
  width: 24%;
  display: inline-block;
  padding: 5px;
  margin:0 4%;
  overflow: inherit;
}
.block-home-offers__element {
  min-width: 300px;
	max-width: 400px;
	border: 1px solid #bbbbbb;
	margin-top: 20px;
	display: inline-block;
}
.block-home-offers__image img{
	max-height: 300px;
}
.block-home-offers__image-title{

  h3{
	margin: 25px 0;
  }
  border-top:  1px solid #bbbbbb;;
}

@media screen and(min-width: 1200px) {
  .block-home-offers {
    a:hover,
    a:visited,
    a {
      color: @text_menu_color;
      text-decoration: none;
      font-weight: 500;
      font-size: 22px;
      font-family: 'RobotoMedium', sans-serif !important;
    }
  }
  .block-home-offer{
    width: 24%;
    display: inline-block;
    padding: 5px;
    margin:0 4%;
    overflow: inherit;
  }
  .block-home-offers__element {
    min-width: 300px;
    max-width: 400px;
    border: 1px solid #bbbbbb;
    margin-top: 20px;
    display: inline-block;
  }
  .block-home-offers__image img{
    max-height: 300px;
  }
  .block-home-offers__image-title{

    h3{
      margin: 25px 0;
    }
    border-top:  1px solid #bbbbbb;;
  }
}


@media screen and(max-width: 1199.5px){
  .block-home-offers {
    a:hover,
    a:visited,
    a {
      color: @text_menu_color;
      text-decoration: none;
      font-weight: 500;
      font-size: 22px;
      font-family: 'RobotoMedium', sans-serif !important;
    }
  }
  .block-home-offer{
    width: 31%;
    display: inline-block;
    padding: 0;
    margin:0 1%;
    overflow: inherit;

  }
  .block-home-offers__element {
    min-width: 100%;
    max-width: 400px;
    border: 1px solid #bbbbbb;
    margin-top: 20px;
    display: inline-block;
  }
  .block-home-offers__image img{
    max-height: 300px;
  }
  .block-home-offers__image-title{

    h3{
      margin: 25px 0;
    }
    border-top:  1px solid #bbbbbb;;
  }
}




@media (max-width: 980px) {
	.block-home-offer{		
		width: auto;
		display: inline-block;
		padding: 5px;
	}
}