.block-new-social-buttons{
	float: right;
	margin: 50px 0;
}
.block-new-social-buttons {
	ul {
		clear:both;
		li {
			display: inline;
		}
	}
}
.block-new-social-buttons i{
	color: 8d8f8e;
	font-size: 25px;
	padding: 8px;
	margin-left: 8px;
	height: 35px;
	text-align: center;	
	vertical-align: middle;
	-webkit-box-pack: center;	
	justify-content: center;	
}
.block-new-social-buttons a i{
	//border: 1px solid @base_yellow_color;
	width: 35px;
	cursor: pointer;
	color: #8d8f8e;
}
.block-new-social-buttons__label {
	color: #ffc41e;
	display: block;
	float: right;
	clear: both;
	font-size: 18px;
}