/*.ad-trucking-title{
  display: block;
  width: 35%;
  position: relative;align-content: center;
  margin: 0 auto;
  padding: 3em 0 1.8em 0;

  td{
    vertical-align: middle;
  }
  td>img{
    width:80px;
    height: 80px;

  }
  td>h1{
    color:@base_yellow_color;
    text-align: center;
    padding-left: 1.2em;

  }
}

*/
.ad-services-info_blocks, .ad-trading-info_blocks{
  display: flex;
  justify-content: space-between;
  p{
    padding: 1.6em;
    text-align: justify;
    font-size: 16px;
    background-color: #FFFFFF;
    float: left;
    width: 30%;
    min-height: 180px;
    height: auto;
    margin-right: 20px;
   // background-color: @menu_background_color;
    border: 1px solid @base_yellow_color;
  }
  p:empty{
    display: none;
  }
  p:last-child{
    margin-right: 0;
  }
  p:empty {
    display:none !important;
  }
}

@media screen and (max-width: 720px){
  .ad-services-info_blocks, .ad-trading-info_blocks{
    display: block;
    justify-content: space-between;
    p{
      padding: 1.6em;
      text-align: justify;
      display: block;
      font-size: 16px;
      background-color: #FFFFFF;
      float: none;
      width: 80%;
      min-height: 120px;
      height: auto;
      margin-right: 0;
      margin: 0 auto;
      border: 1px solid #ffc100;
      margin-bottom: 2em;
    }
    p:empty{
      display: none;
    }
    p:last-child{
      margin-right: auto;
    }
    p:empty {
      display:none !important;
    }
  }
}



.ad-services-contacts-telephone{
  padding: 50px 75px 50px 0;
  float: right;
}

.ad-services-contacts-email{
  padding: 50px 0 50px 75px;
  float: left;
}

@media screen and(max-width: 991.5px) {
  .ad-services-contacts-email{
    padding: 50px 0 50px 0;
    float: right;
    width: 45%;
  }

  .ad-services-contacts-telephone{
    padding: 50px 0 50px 15px;
    float: left;
    width: 45%;
  }
}

@media screen and(max-width: 815px) {
  .ad-services-contacts-email{
    padding: 50px 15px 50px 15px;
    float: none;
    width: 70%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .ad-services-contacts-telephone{
    padding: 50px 0 50px 15px;
    float: none;
    width: 70%;
    display: block;
    margin: 0 auto;
    text-align: center;

  }
}

.ad-services-contacts-paragraph{
 min-height: 44px;
}

.ad-services-contacts-button{
  text-align: center;
  margin-top: 2em;
  a:first-child{margin-left: 0;}
  a:last-child{margin-left: 30px;}
}

@media screen and(max-width: 1199.5px) {

  #trucking_contacts{
    width: 100%;
    margin-left: 0;

    a:last-child{
     margin-left: 20px;
    }

  }


  .ad-services-contacts-button{

    width: 80%;
    margin-left: 10%;
    a{
      float: none;
      vertical-align: middle;
    }

  /*
    a{
      margin-left: 0px;

      margin: 0 auto;
      margin-bottom: 20px;
    }

    a:first-child{margin-left: 0;}
    a:last-child{margin-left: 0;}
    */

  }
}

@media screen and(max-width: 979.5px) {

  #trucking_contacts{
    a:last-child{
      margin-left: 0;
    }
  }

  .ad-services-contacts-button{
    margin-top: 2em;
    a:first-child{margin-left: 0;}
    a:last-child{margin-left: 30px;}
  }

}
@media screen and(max-width: 740px) {

  .ad-services-contacts-button{
    text-align: center;
    margin-top: 2em;
    a:first-child{margin-left: auto;}
    a:last-child{margin-left: auto;}
  }


  #trucking_contacts a {
    width: 80%;
    display: block;
    float: none;
    margin: 0 auto 40px auto;
  }
  #trucking_contacts a:last-child{
    margin-left: auto;
  }
}



.ad-services-price_table{
  margin-top: 20px;
  margin-bottom: 40px;
  border-collapse: collapse;
  font-size: 16px;
  border-spacing: 0;
  text-align: left;
  width: 100%;
  th,
  thead {
    text-align: center;
  }
  thead{
    background-color: @menu_header_link_hover;
    font-weight: bold;
    th,td,tr{
      border: none;
      background-color: @menu_header_link_hover;
    }
  }
  table,tr,td{
    border: 1px solid @menu_header_link_hover;
    
  }
  th,tr,td{
    padding: 20px;
    vertical-align: top;
    background-color: #FFFFFF;
  }


  @media screen and(max-width: 494px) {
    th,tr,td{
      padding: 5px;
      vertical-align: top;
      background-color: #FFFFFF;
    }
  }
}



