 .block-header-logo {
   width: auto;
   display: block;
   float: left;
   height: 110px;
   padding-top: 15px;
   padding-bottom: 15px;
   text-align: center;
   vertical-align: middle;
   min-width: 250px;
   a {
     display: inline;
     text-decoration: none;
     color: @text_menu_color;
     font-size: 18px;
     vertical-align: middle;
     margin-left: 15px;
   }
   img {
     width: auto;
     height: 80px;
     max-width: 300px;
   }
 }
.block-header-logo-desktop {
  display: inline;
}
.block-header-logo-mobile {
  display: none;
}

 @media screen and (max-width: 991.5px){
   #left_side-of-header_menu {
     width: 25%;
     display: block;
     float: left;
     min-width: 250px;
   }

   #right_side-of-header_menu {
     display: block;
     float: left;
     width: 65%;
     padding-right: 0;
   }


 }

 @media screen and(max-width: 767px) {
   #left_side-of-header_menu {
     width: auto;
     display: inherit;
     float: none;
     min-width: 250px;
   }
   .block-header-logo {
       width: auto;
       display: inherit;
       float: none;
       height: 110px;
       padding-top: 15px;
       padding-bottom: 15px;
       text-align: center;
       vertical-align: middle;
       min-width: 250px;
     }

 }
 @media screen and(max-width: 500px) {
   .block-header-logo-desktop {
     display: none;
   }

   .block-header-logo-mobile {
     display: inline;
   }
 }