.block-home-slider-edit {
  img {
    width: 100%;
    height: auto;
  }
  h3 {
    text-align: left;
    margin:50px 0 15px 0;
    font-size:14px;
  }
  input[type="file"] {
    margin:10px auto;
    width:125px;
  }
  button {
    margin-top:10px;
  }
}