.ad-home-news{
	margin-bottom: 50px;
	a:hover{
		color: @text_menu_color;
		text-decoration: none;
	}
	a:focus {
		color: @text_menu_color;
		text-decoration: none;
	}
}
.ad-news-link,
.btn-primary {
  padding: 10px 25px;
  background-color: @base_yellow_color;
  color: @text_menu_color;
  font-size: 18px;
  float: right;
  text-decoration: none;
  margin-bottom: 20px;
  //margin-right: 20px;
  margin-left: 20px;
	border-radius:0;
	border-color: @base_yellow_color;
}
.ad-news-link:hover,
.btn-primary:hover {
	background-color: @base_yellow_color;
	border-color: @base_yellow_color;
	color: #FFFFFF;
}

/*
.btn-primary:last-child{
  margin-right: 20px;
}
*/
.last-new , .last-news{
	//height: 500px;
	margin: 7px;
}
.last-new {
	border: 1px solid #dddddd;
}
.ad-news-border-left{
	border-left: 2px solid #dddddd;
	margin-bottom:20px;
}
.ad-home-new-img, .ad-home-new-text{
	height: 50%;
}
.ad-home-new-img {
	overflow: hidden;
}
.ad-home-new-text{
	padding: 20px;	
	overflow: hidden;
	text-overflow: clip;
	a {
		color:#2f2f2f;
	}
	h3 {
		color:#2f2f2f;
	}
}
.ad-home-new-img img{
	height: 50%;
	width: 100%;
	height: auto;
}
.last-news img{
	height: 30%;
}
.ad-last-news-content{
	//position: absolute;
	bottom: 0;
	height: 470px;
	padding: 10px;	
}
.ad-last-news-content-row{
	width: 90%;
	//height: 30%;
	padding-bottom: 10px;
	padding-top: 10px;
}
.ad-last-news-content-img{
	width: 35%;
	height: auto;
	max-height: 200px;
	float: left;
	overflow: hidden;
}
.ad-last-news-content-img img{
	width: 100%;
	height: auto;
}
.ad-last-news-content-text{
	width: 60%;
	height: auto;
	float: right;	
	overflow: hidden;
	text-overflow: clip;
	a {
		color:#2f2f2f;
	}
	h5 {
		color:#2f2f2f;
	}
}
.ad-last-news-content-p{
	font-size: 13px;
}

@media (max-width: 1000px) {
	.ad-news-border-left{
		border-left: 0;	
	}
	.ad-last-news-content-img img{
		width: 100%;
		height: 80px;
	}	
}
@media (max-width: 780px) {
	.ad-news-border-left{
		border-left: 0;	
	}
	.ad-last-news-content-img img{
		width: 100%;
		height: 100%;
	}	
}

button#edit_meta {
  padding: 10px 12px;
  padding-left: 15px;
  margin-left: 0;
  margin-right: 15px;
}