.ad-page-info_blocks, .ad-vacancies-info_blocks{
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}
.block-vacancies, .contacts-block{
  position: relative;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 70%;
  height: auto;
  padding: 1.8em;
  border: 1px solid @base_yellow_color;
  overflow:hidden;
  p{
    display: block;
    float: left;
    width: 100%;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 0;
    text-indent: 2em;
  }
}

.ad-vacancies-contacts_block{
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}


